@using TeknikServisci.BLL.Repository
@model List<TeknikServisci.Models.Entities.Survey>
@{
	ViewBag.Title = "Reports";
	Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="table-responsive">
	<table id="example2" class="display table table-striped" style="width: 100%; mso-cellspacing: 0;">
		<thead>
			<tr>
				<th style="font-weight: bold">#</th>
				<th style="font-weight: bold">Arıza Id</th>
				<th style="font-weight: bold">Arıza Açıklama</th>
				<th style="font-weight: bold">Hız</th>
				<th style="font-weight: bold">Teknisyen</th>
				<th style="font-weight: bold">Fiyat</th>
				<th style="font-weight: bold">Memnuniyet</th>
				<th style="font-weight: bold">Çözüm</th>
				<th style="font-weight: bold">Aksiyon</th>
			</tr>
		</thead>
		<tbody>
			@for (var i = 0; i < Model.Count; i++)
			{
				var item = Model[i];
				var failure = new FailureRepo().GetAll().FirstOrDefault(x => x.SurveyId == item.Id);
				<tr>
					<th style="font-weight: bold">@(i + 1)</th>
					<td>@(failure?.Id)</td>
					<td>@(failure?.Description)</td>
					<td>@item.Speed &#x2605;</td>
					<td>@item.TechPoint &#x2605;</td>
					<td>@item.Pricing &#x2605;</td>
					<td>@item.Satisfaction &#x2605;</td>
					<td>@item.Solving &#x2605;</td>
					<td><a href="@Url.Action("Detail","Failure",new{id = failure.Id})" class="btn btn-success">Detay</a></td>
				</tr>
			}
		</tbody>
		<tfoot>
			<tr>
				<td></td>
				<td></td>
				<th style="font-weight: bold; background-color: maroon;color:white">Ortalama Puan</th>
				<th style="font-weight: bold;background-color:maroon;color:white">@ViewBag.AvgSpeed.ToString("0.00") &#x2605;</th>
				<th style="font-weight: bold;background-color:maroon;color:white">@ViewBag.AvgTech.ToString("0.00") &#x2605;</th>
				<th style="font-weight: bold;background-color:maroon;color:white">@ViewBag.AvgPrice.ToString("0.00") &#x2605;</th>
				<th style="font-weight: bold;background-color:maroon;color:white">@ViewBag.AvgSatisfaction.ToString("0.00") &#x2605;</th>
				<th style="font-weight: bold;background-color:maroon;color:white">@ViewBag.AvgSolving.ToString("0.00") &#x2605;</th>
				<th></th>
			</tr>
		</tfoot>
	</table>
</div>
