@using TeknikServisci.BLL.Repository
@model List<TeknikServisci.Models.Entities.Survey>
@{
	ViewBag.Title = "Reports";
	Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@section top{
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
}

<div class="table-responsive">
	<table id="example2" class="display table table-striped" style="width: 100%; mso-cellspacing: 0;">
		<thead>
			<tr>
				<th style="font-weight: bold">#</th>
				<th style="font-weight: bold">Arıza Id</th>
				<th style="font-weight: bold">Arıza Açıklama</th>
				<th style="font-weight: bold">Memnuniyet</th>
				<th style="font-weight: bold">Teknisyen</th>
				<th style="font-weight: bold">Hız</th>
				<th style="font-weight: bold">Fiyat</th>
				<th style="font-weight: bold">Çözüm</th>
				<th style="font-weight: bold">Süre (Gün)</th>
				<th style="font-weight: bold">Aksiyon</th>
			</tr>
		</thead>
		<tbody>
			@for (var i = 0; i < Model.Count; i++)
			{
				var item = Model[i];
				var failure = new FailureRepo().GetAll().FirstOrDefault(x => x.SurveyId == item.Id);
				<tr>
					<th style="font-weight: bold">@(i + 1)</th>
					<td>@(failure?.Id)</td>
					<td>@(failure?.Description)</td>
					<td>@item.Satisfaction &#x2605;</td>
					<td>@item.TechPoint &#x2605;</td>
					<td>@item.Speed &#x2605;</td>
					<td>@item.Pricing &#x2605;</td>
					<td>@item.Solving &#x2605;</td>
					<td>@(failure?.FinishingTime?.DayOfYear - failure?.CreatedDate.DayOfYear)</td>
					<td><a href="@Url.Action("Detail","Failure",new{id = failure.Id})" class="btn btn-instagram">Detay</a></td>
				</tr>
			}
		</tbody>
		<tfoot>
			<tr>
				<td></td>
				<td></td>
				<th style="font-weight: bold; background-color: maroon;color:white">Ortalama Puan</th>
				<th style="font-weight: bold;background-color:maroon;color:white">@ViewBag.AvgSatisfaction.ToString("0.00") &#x2605;</th>
				<th style="font-weight: bold;background-color:maroon;color:white">@ViewBag.AvgTech.ToString("0.00") &#x2605;</th>
				<th style="font-weight: bold;background-color:maroon;color:white">@ViewBag.AvgSpeed.ToString("0.00") &#x2605;</th>
				<th style="font-weight: bold;background-color:maroon;color:white">@ViewBag.AvgPrice.ToString("0.00") &#x2605;</th>
				<th style="font-weight: bold;background-color:maroon;color:white">@ViewBag.AvgSolving.ToString("0.00") &#x2605;</th>
				<th style="font-weight: bold;background-color:maroon;color:white">@ViewBag.AvgTime</th>
				<th></th>
			</tr>
		</tfoot>
	</table>
</div>
<hr />

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-white stats-widget">
			<div class="panel-body">
				<div class="pull-left">
					<span class="stats-number"></span>
					<p class="stats-info">Günlük Kayıt</p>
				</div>
				<div class="pull-right">
					<i class="icon-arrow_upward stats-icon"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-white stats-widget">
			<div class="panel-body">
				<div class="pull-left">
					<span class="stats-number2"></span>
					<p class="stats-info">Günlük Kazanç</p>
				</div>
				<div class="pull-right">
					<i class="icon-arrow_upward stats-icon"></i>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class=" col-md-6">
		<div class="box box-danger">
			<div class="box-header with-border">
				<div>
					<div id="chart_div"></div>
				</div>
			</div>
			<!-- /.box-body -->
		</div>
	</div>

	<div class=" col-md-6">
		<div class="box box-danger">
			<div class="box-header with-border">
				<div>
					<div id="chart_div2"></div>
				</div>
			</div>
			<!-- /.box-body -->
		</div>
	</div>
</div>

@section bottom{
	<script>
        $.ajax({
            url: '@Url.Action("GetDailyReport","Admin")',
            method: 'get',
            type:'json'
        }).done(function (e) {
            $(".stats-number").html(e.completed);
        });
	</script>

	<script>
        $(function() {
            google.charts.load("current", { packages: ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                $.ajax({
                    url: "@Url.Action("GetSurveyReport", "Admin")",
                    method: "get",
                    type: "json"
                }).done(function(e) {
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Anket Soruları');
                    data.addColumn('number', 'Puan');
                    $.each(e.data,
                        function(key, value) {
                            data.addRow([value.question, value.point]);
                        });
                    var view = new google.visualization.DataView(data);
                    var options = {
                        title: "Anket Sonuçları",
                        width: 600,
                        height: 500,
                        bar: { groupWidth: "50%" },
                        legend: { position: "none" }
                    };
                    var chart = new google.visualization.ColumnChart(document.getElementById("chart_div"));
                    chart.draw(view, options);
                });
            }
        });
	</script>

	<script>
         $.ajax({
            url: '@Url.Action("GetDailyProfit","Admin")',
            method: 'get',
            type:'json'
        }).done(function (e) {
            $(".stats-number2").html(e.completed);
        });
	</script>

	<script>
        $(function() {
            google.charts.load("current", { packages: ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                $.ajax({
                    url: "@Url.Action("GetTechReport", "Admin")",
                    method: "get",
                    type: "json"
                }).done(function(e) {
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Teknisyenler');
                    data.addColumn('number', 'Puan');
                    $.each(e.data,
                        function(key, value) {
                            data.addRow([value.nameSurname, value.point]);
                        });
                    var view = new google.visualization.DataView(data);
                    var options = {
                        title: "Teknisyen Ortalamaları",
                        width: 600,
                        height: 500,
                        bar: { groupWidth: "50%" },
                        legend: { position: "none" }
                    };
                    var chart = new google.visualization.ColumnChart(document.getElementById("chart_div2"));
                    chart.draw(view, options);
                });
            }
        });
	</script>
}

@*<div class="table-responsive">
	<table id="example2" class="display table table-striped" style="width: 100%; mso-cellspacing: 0;">
		<thead>
			<tr>
				<th style="font-weight: bold">#</th>
				<th style="font-weight: bold">Arıza Id</th>
				<th style="font-weight: bold">Arıza Açıklama</th>
				<th style="font-weight: bold">Hız</th>
				<th style="font-weight: bold">Teknisyen</th>
				<th style="font-weight: bold">Fiyat</th>
				<th style="font-weight: bold">Memnuniyet</th>
				<th style="font-weight: bold">Çözüm</th>
				<th style="font-weight: bold">Aksiyon</th>
			</tr>
		</thead>
		<tbody>
			@for (var i = 0; i < Model.Count; i++)
			{
				var item = Model[i];
				var failure = new FailureRepo().GetAll().FirstOrDefault(x => x.SurveyId == item.Id);
				<tr>
					<th style="font-weight: bold">@(i + 1)</th>
					<td>@(failure?.Id)</td>
					<td>@(failure?.Description)</td>
					<td>@item.Speed &#x2605;</td>
					<td>@item.TechPoint &#x2605;</td>
					<td>@item.Pricing &#x2605;</td>
					<td>@item.Satisfaction &#x2605;</td>
					<td>@item.Solving &#x2605;</td>
					<td><a href="@Url.Action("Detail","Failure",new{id = failure.Id})" class="btn btn-success">Detay</a></td>
				</tr>
			}
		</tbody>
		<tfoot>
			<tr>
				<td></td>
				<td></td>
				<th style="font-weight: bold; background-color: maroon;color:white">Ortalama Puan</th>
				<th style="font-weight: bold;background-color:maroon;color:white">@ViewBag.AvgSpeed.ToString("0.00") &#x2605;</th>
				<th style="font-weight: bold;background-color:maroon;color:white">@ViewBag.AvgTech.ToString("0.00") &#x2605;</th>
				<th style="font-weight: bold;background-color:maroon;color:white">@ViewBag.AvgPrice.ToString("0.00") &#x2605;</th>
				<th style="font-weight: bold;background-color:maroon;color:white">@ViewBag.AvgSatisfaction.ToString("0.00") &#x2605;</th>
				<th style="font-weight: bold;background-color:maroon;color:white">@ViewBag.AvgSolving.ToString("0.00") &#x2605;</th>
				<th></th>
			</tr>
		</tfoot>
	</table>
</div>*@
