@model TeknikServisci.Models.ViewModels.FailureViewModel
@{
	ViewBag.Title = "Invoice";
	Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="pageheader hidden-xs">
	<h3><i class="fa fa-search-plus"></i>Arıza Fatura Ayrıntısı</h3>
</div>
<div id="content-container">
	<!--Page content-->
	<!--===================================================-->
	<div id="page-content">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">@Model.FailureName adlı arızanın fatura bilgileri</h3>
						<h3>@TempData["Message"]</h3>
						@Html.ValidationSummary()
					</div><br />
					<!-- Striped Table -->
					<!--===================================================-->
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-striped">
								<tbody>
									<tr>
										<th>Arızanın:</th>
										<td></td>
									</tr>
									<tr>
										<th>Kodu</th>
										<td>@Model.FailureId</td>
									</tr>
									
								<tr>
									<th>Garantisi var mı?</th>
									<td>@Html.CheckBox("isNewlyEnrolled", true)</td>
								</tr>
								<tr>
									<th>Fiyat:</th>
									<td>@Html.TextBoxFor(x => x.Price, new { @class = "form-control" })</td>
								</tr>

								<tr>
									<th>Açıklama</th>
									<td>
										@Html.TextBoxFor(x => x.Report, new { @class = "form-control" })
									</td>
								</tr>
								<tr>
									<th></th>
									<td>
										@using (Html.BeginForm("CreateInvoice", "Technician", FormMethod.Post, new {@class = "form-horizontal"}))
										{
											@Html.AntiForgeryToken()
											@Html.HiddenFor(x => x.FailureId)

												<button class="btn btn-success" type="submit">Gelsin Paralar</button>

											
										}
										</td>

								</tr>
								
								</tbody>
							</table>
						</div>
					</div>
					<!--===================================================-->
					<!-- End Striped Table -->
				</div>
			</div>
		</div>
		<!--===================================================-->
		<!--END CONTENT CONTAINER-->
	</div>
</div>


