@model TeknikServisci.Models.ViewModels.FailureViewModel
@{
	ViewBag.Title = $"{Model.FailureName} arızasının ayrıntıları";
	Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="pageheader hidden-xs">
	<h3><i class="fa fa-search-plus"></i>Arıza Ayrıntısı</h3>
</div>
<!--CONTENT CONTAINER-->
<!--===================================================-->
<div id="content-container">
	<!--Page content-->
	<!--===================================================-->
	<div id="page-content">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">@Model.FailureName adlı arızanın ayrıntıları</h3>
						<h3>@TempData["Message"]</h3>
						@Html.ValidationSummary()
					</div><br /><br /><br /><br />
					<!-- Striped Table -->
					<!--===================================================-->
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-striped">
								<tbody>
									<tr>
										<th>Arızanın:</th>
										<td></td>
									</tr>
									<tr>
										<th>Kodu</th>
										<td>@Model.FailureId</td>
									</tr>
									<tr>
										<th>Adı</th>
										<td>@Model.FailureName</td>
									</tr>
									<tr>
										<th>Parçanın Modeli</th>
										<td>@Model.ProductModel</td>
									</tr>
									<tr>
										<th>Açıklama</th>
										<td>@Model.Description</td>
									</tr>
									<tr>
										<th>Fotoğrafı</th>
										<td><img src="@(string.IsNullOrEmpty(Model.PhotoPath) ? "~/assets/img/thumbs/img2.jpg" : Model.PhotoPath)" width="200" height="200" /></td>
									</tr>
									<tr>
										<th>Arızayı Bildirenin:</th>
										<td></td>
									</tr>
									<tr>
										<th>Kullanıcı ID</th>
										<td>@Model.ClientId</td>
									</tr>
									<tr>
										<th>Adı</th>
										<td>@Model.ClientName</td>
									</tr>
									<tr>
										<th>Soyadı</th>
										<td>@Model.ClientSurname</td>
									</tr>
									<tr>
										<th>Adresi</th>
										<td>@Model.Address</td>
									</tr>
									<tr>
										<th>Teknisyen</th>
										<td>@Model.Technician</td>
									</tr>
									<tr>
										<th>Güncelleme</th>
										<td>
											@using (Html.BeginForm("TechnicianStartWork", "Technician", FormMethod.Post, new { @class = "form-horizontal" }))
											{
												@Html.AntiForgeryToken()
												@Html.HiddenFor(x => x.FailureId)
												@Html.DropDownListFor(x => x.TechnicianId, (List<SelectListItem>)ViewBag.TechnicianList, new { @class = "form-control", size = "1" })
												<button class="btn btn-success" type="submit">Teknisyeni Ata</button>
											}
										</td>
									</tr>
									<tr>
										<th>Reddet</th>
										<td>
											@using (Html.BeginForm("Decline", "Operator", FormMethod.Post, new { @class = "form-horizontal" }))
											{
												@Html.AntiForgeryToken()
												@Html.HiddenFor(x => x.FailureId)
												@Html.TextBoxFor(x => x.Report, new { @class = "form-control" })
												@Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
												<button class="btn btn-danger" type="submit">Reddet</button>
											}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!--===================================================-->
					<!-- End Striped Table -->
				</div>
			</div>
		</div>
		<!--===================================================-->
		<!--END CONTENT CONTAINER-->
	</div>
</div>
<!--===================================================-->
<!-- END OF CONTAINER -->