@using TeknikServisci.BLL.Identity
@using TeknikServisci.Models.Enums

<div class="navbar-content clearfix">
    <ul class="nav navbar-top-links pull-left">
        <!--Navigation toogle button-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <li class="tgl-menu-btn">
            <a class="mainnav-toggle" href="#"> <i class="fa fa-navicon fa-lg"></i> </a>
        </li>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--End Navigation toogle button-->
        <!--Messages Dropdown-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                <i class="fa fa-envelope fa-lg"></i> <span class="badge badge-header badge-warning">9</span>
            </a>
            <!--Message dropdown menu-->
            <div class="dropdown-menu dropdown-menu-md with-arrow">
                <div class="pad-all bord-btm">
                    <div class="h4 text-muted text-thin mar-no">You have 3 messages.</div>
                </div>
                <div class="nano scrollable">
                    <div class="nano-content">
                        <ul class="head-list">
                            <!-- Dropdown list-->
                            <li>
                                <a href="#" class="media">
                                    <div class="media-left"> <img src="img/av2.png" alt="Profile Picture" class="img-circle img-sm"> </div>
                                    <div class="media-body">
                                        <div class="text-nowrap">Andy sent you a message</div>
                                        <small class="text-muted">15 minutes ago</small>
                                    </div>
                                </a>
                            </li>
                            <!-- Dropdown list-->
                            <li>
                                <a href="#" class="media">
                                    <div class="media-left"> <img src="img/av4.png" alt="Profile Picture" class="img-circle img-sm"> </div>
                                    <div class="media-body">
                                        <div class="text-nowrap">Lucy sent you a message</div>
                                        <small class="text-muted">30 minutes ago</small>
                                    </div>
                                </a>
                            </li>
                            <!-- Dropdown list-->
                            <li>
                                <a href="#" class="media">
                                    <div class="media-left"> <img src="img/av3.png" alt="Profile Picture" class="img-circle img-sm"> </div>
                                    <div class="media-body">
                                        <div class="text-nowrap">Jackson sent you a message</div>
                                        <small class="text-muted">40 minutes ago</small>
                                    </div>
                                </a>
                            </li>
                            <!-- Dropdown list-->
                            <li>
                                <a href="#" class="media">
                                    <div class="media-left"> <img src="img/av6.png" alt="Profile Picture" class="img-circle img-sm"> </div>
                                    <div class="media-body">
                                        <div class="text-nowrap">Donna sent you a message</div>
                                        <small class="text-muted">5 hours ago</small>
                                    </div>
                                </a>
                            </li>
                            <!-- Dropdown list-->
                            <li>
                                <a href="#" class="media">
                                    <div class="media-left"> <img src="img/av4.png" alt="Profile Picture" class="img-circle img-sm"> </div>
                                    <div class="media-body">
                                        <div class="text-nowrap">Lucy sent you a message</div>
                                        <small class="text-muted">Yesterday</small>
                                    </div>
                                </a>
                            </li>
                            <!-- Dropdown list-->
                            <li>
                                <a href="#" class="media">
                                    <div class="media-left"> <img src="img/av3.png" alt="Profile Picture" class="img-circle img-sm"> </div>
                                    <div class="media-body">
                                        <div class="text-nowrap">Jackson sent you a message</div>
                                        <small class="text-muted">Yesterday</small>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Dropdown footer-->
                <div class="pad-all bord-top">
                    <a href="#" class="btn-link text-dark box-block"> <i class="fa fa-angle-right fa-lg pull-right"></i>Show All Messages </a>
                </div>
            </div>
        </li>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--End message dropdown-->
        <!--Notification dropdown-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle"> <i class="fa fa-bell fa-lg"></i> <span class="badge badge-header badge-danger">5</span> </a>
            <!--Notification dropdown menu-->
            <div class="dropdown-menu dropdown-menu-md with-arrow">
                <div class="pad-all bord-btm">
                    <div class="h4 text-muted text-thin mar-no"> Notification </div>
                </div>
                <div class="nano scrollable">
                    <div class="nano-content">
                        <ul class="head-list">
                            <!-- Dropdown list-->
                            <li>
                                <a href="#" class="media">
                                    <div class="media-left"> <span class="icon-wrap icon-circle bg-primary"> <i class="fa fa-comment fa-lg"></i> </span> </div>
                                    <div class="media-body">
                                        <div class="text-nowrap">New comments waiting approval</div>
                                        <small class="text-muted">15 minutes ago</small>
                                    </div>
                                </a>
                            </li>
                            <!-- Dropdown list-->
                            <li>
                                <a href="#" class="media">
                                    <span class="badge badge-success pull-right">90%</span>
                                    <div class="media-left"> <span class="icon-wrap icon-circle bg-danger"> <i class="fa fa-hdd-o fa-lg"></i> </span> </div>
                                    <div class="media-body">
                                        <div class="text-nowrap">HDD is full</div>
                                        <small class="text-muted">50 minutes ago</small>
                                    </div>
                                </a>
                            </li>
                            <!-- Dropdown list-->
                            <li>
                                <a href="#" class="media">
                                    <div class="media-left"> <span class="icon-wrap icon-circle bg-info"> <i class="fa fa-file-word-o fa-lg"></i> </span> </div>
                                    <div class="media-body">
                                        <div class="text-nowrap">Write a news article</div>
                                        <small class="text-muted">Last Update 8 hours ago</small>
                                    </div>
                                </a>
                            </li>
                            <!-- Dropdown list-->
                            <li>
                                <a href="#" class="media">
                                    <span class="label label-danger pull-right">New</span>
                                    <div class="media-left"> <span class="icon-wrap icon-circle bg-purple"> <i class="fa fa-comment fa-lg"></i> </span> </div>
                                    <div class="media-body">
                                        <div class="text-nowrap">Comment Sorting</div>
                                        <small class="text-muted">Last Update 8 hours ago</small>
                                    </div>
                                </a>
                            </li>
                            <!-- Dropdown list-->
                            <li>
                                <a href="#" class="media">
                                    <div class="media-left"> <span class="icon-wrap icon-circle bg-success"> <i class="fa fa-user fa-lg"></i> </span> </div>
                                    <div class="media-body">
                                        <div class="text-nowrap">New User Registered</div>
                                        <small class="text-muted">4 minutes ago</small>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Dropdown footer-->
                <div class="pad-all bord-top">
                    <a href="#" class="btn-link text-dark box-block"> <i class="fa fa-angle-right fa-lg pull-right"></i>Show All Notifications </a>
                </div>
            </div>
        </li>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--End notifications dropdown-->
    </ul>
    <ul class="nav navbar-top-links pull-right">
        @if (User.IsInRole("Technician"))
        {
            if (MembershipTools.GetTechnicianStatus(null) == TechnicianStatuses.Busy)
            {
                <li class="tgl-menu-btn">
                    <a href="#" class="btn-link text-dark box-block"> <i class="fa fa-minus-circle fa-lg"></i> Meşgul</a>
                </li>
            }
            else if(MembershipTools.GetTechnicianStatus(null) == TechnicianStatuses.Available)
            {
                <li class="tgl-menu-btn">
                    <a href="#" class="btn-link text-dark box-block"> <i class="fa fa-check-circle fa-lg"></i> Uygun</a>
                </li>
            }
            else
            {
                <li class="tgl-menu-btn">
                    <a href="#" class="btn-link text-dark box-block"> <i class="fa fa-clock-o fa-lg"></i> İş Başında</a>
                </li>
            }
        }
        <!--User dropdown-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <li id="dropdown-user" class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                <span class="pull-right"> <img class="img-circle img-user media-object" src="@MembershipTools.GetAvatarPath(null)" alt="Profil Resmi"> </span>
                <div class="username hidden-xs">@MembershipTools.GetNameSurname(null)</div>
            </a>
            <div class="dropdown-menu dropdown-menu-right with-arrow">
                <!-- User dropdown menu -->
                <ul class="head-list">
                    @if (User.IsInRole("User"))
                    {
                        <li><a href="@Url.Action("Add", "Failure")"> <i class="fa fa-plus"></i> <span class="menu-title">Arıza Ekle</span></a></li>
                    }
                    <li>
                        <a href="@Url.Action("UserProfile", "Account")"> <i class="fa fa-user fa-fw"></i>Profil</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Logout", "Account")"> <i class="fa fa-sign-out fa-fw"></i>Çıkış Yap</a>
                    </li>
                </ul>
            </div>
        </li>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--End user dropdown-->
    </ul>
</div>
