@model TeknikServisci.Models.ViewModels.FailureViewModel
@{
	ViewBag.Title = $"{Model.FailureName} arızasının ayrıntıları";
	Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="pageheader hidden-xs">
	<h3><i class="fa fa-search-plus"></i>Arıza Ayrıntısı</h3>
</div>
<!--CONTENT CONTAINER-->
<!--===================================================-->
<div id="content-container">
	<!--Page content-->
	<!--===================================================-->
	<div id="page-content">
        <div class="row">
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">@Model.FailureName adlı arızanın ayrıntıları</h3>
                        <h3>@TempData["Message"]</h3>
                        @Html.ValidationSummary()
                    </div><br /><br /><br /><br />
                    <!-- Striped Table -->
                    <!--===================================================-->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                    @if (Model.RepairProcess != null)
                                    {
                                        <tr>
                                            <th>Fatura</th>
                                            <td><a href="@Url.Action("Invoice", "Failure", new {id = Model.FailureId})" class="btn btn-info btn-block">Fatura</a></td>
                                        </tr>
                                    }
                                    <tr>
                                        <th>Arızanın:</th>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Kodu</th>
                                        <td>@Model.FailureId</td>
                                    </tr>
                                    <tr>
                                        <th>Adı</th>
                                        <td>@Model.FailureName</td>
                                    </tr>
                                    <tr>
                                        <th>Parçanın Modeli</th>
                                        <td>@Model.ProductModel</td>
                                    </tr>
                                    <tr>
                                        <th>Açıklama</th>
                                        <td>@Model.Description</td>
                                    </tr>
                                    <tr>
                                        <th>Fotoğrafı</th>
                                        <td><img src="@(string.IsNullOrEmpty(Model.PhotoPath) ? "~/assets/img/thumbs/img2.jpg" : Model.PhotoPath)" width="400" height="300" /></td>
                                    </tr>
                                    <tr>
                                        <th>Arızayı Bildirenin:</th>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Kullanıcı ID</th>
                                        <td>@Model.ClientId</td>
                                    </tr>
                                    <tr>
                                        <th>Adı</th>
                                        <td>@Model.ClientName</td>
                                    </tr>
                                    <tr>
                                        <th>Soyadı</th>
                                        <td>@Model.ClientSurname</td>
                                    </tr>
                                    <tr>
                                        <th>Adresi</th>
                                        <td>@Model.Address</td>
                                    </tr>
                                    <tr>
                                        <th>Teknisyen</th>
                                        <td>@Model.Technician</td>
                                    </tr>
                                    <tr>
                                        <th>Teknisyenin durumu</th>
                                        <td>@TeknikServisci.BLL.Helpers.EnumHelpers.GetDescription(Model.TechnicianStatus)</td>
                                    </tr>
                                    @*<tr>
                                    <th>Reddet</th>
                                    <td>
                                        @using (Html.BeginForm("Decline", "Operator", FormMethod.Post, new { @class = "form-horizontal" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.HiddenFor(x => x.FailureId)
                                            @Html.TextBoxFor(x => x.Report, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
                                            <button class="btn btn-danger" type="submit">Reddet</button>
                                        }
                                    </td>
                                </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--===================================================-->
                    <!-- End Striped Table -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Olaylar</h3><h3></h3>
                    </div><br />
                    <div class="panel-body">
                        <div class="timeline">
                            <!-- Timeline header -->
                            <div class="timeline-header">
                                <div class="timeline-header-title bg-info">Şimdi</div>
                            </div>
                            <div class="timeline-entry">
                                <div class="timeline-stat">
                                    <div class="timeline-icon bg-purple"><i class="fa fa-check fa-lg"></i> </div>
                                </div>
                                <div class="timeline-label">
                                    <img class="img-xs img-circle" src="img/av1.png" alt="Profile picture"> <a href="#" class="btn-link text-semibold"> John Doe </a> posted a new blog.
                                    <div>
                                        <img src="img/photos/profile-pic-1.png" class="profile-img img-left" alt="">
                                        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-entry">
                                <div class="timeline-stat">
                                    <div class="timeline-icon bg-mint"><i class="fa fa-users fa-lg"></i> </div>
                                </div>
                                <div class="timeline-label"> <img class="img-xs img-circle" src="img/av4.png" alt="Profile picture"> <a href="#" class="btn-link text-semibold">Shirley Anderson</a> started following. <img class="img-xs img-circle" src="img/av7.png" alt="Profile picture"> <img class="img-xs img-circle" src="img/av6.png" alt="Profile picture"></div>
                            </div>
                            <div class="timeline-entry">
                                <div class="timeline-stat">
                                    <div class="timeline-icon bg-primary"><i class="fa fa-image fa-lg"></i> </div>
                                </div>
                                <div class="timeline-label">
                                    <img class="img-xs img-circle" src="img/av1.png" alt="Profile picture"> <a href="#" class="btn-link text-semibold"> Jonathan Anderson </a> Uploaded 4 images
                                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</h4>
                                    <div> <img src="img/photos/profile-pic-1.png" class="profile-img" alt=""> <img src="img/photos/profile-pic-1.png" class="profile-img" alt=""> <img src="img/photos/profile-pic-1.png" class="profile-img" alt=""> <img src="img/photos/profile-pic-1.png" class="profile-img" alt=""> </div>
                                </div>
                            </div>
                            <div class="timeline-entry">
                                <div class="timeline-stat">
                                    <div class="timeline-icon bg-info"><i class="fa fa-tasks fa-lg"></i> </div>
                                </div>
                                <div class="timeline-label"> <img class="img-xs img-circle" src="img/av4.png" alt="Profile picture"> <a href="#" class="btn-link text-semibold">Shirley Anderson</a> completed the task “Application UI Re-design” within the dead line</div>
                            </div>
                            <div class="timeline-entry">
                                <div class="timeline-stat">
                                    <div class="timeline-icon bg-danger"><i class="fa fa-building fa-lg"></i> </div>
                                </div>
                                <div class="timeline-label">
                                    <h4 class="mar-no pad-btm"><a href="#" class="text-danger">Job Meeting</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                                </div>
                            </div>
                            <div class="timeline-entry">
                                <div class="timeline-stat">
                                    <div class="timeline-icon"><img src="img/av4.png" alt="Profile picture"> </div>
                                </div>
                                <div class="timeline-label">
                                    <p class="mar-no pad-btm"><a href="#" class="btn-link text-semibold">Lisa D.</a> commented on <a href="#">The Article</a> </p>
                                    <blockquote class="bq-sm bq-open">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</blockquote>
                                </div>
                            </div>
                            <div class="timeline-entry">
                                <div class="timeline-stat">
                                    <div class="timeline-icon bg-purple"><i class="fa fa-check fa-lg"></i> </div>
                                </div>
                                <div class="timeline-label"> <img class="img-xs img-circle" src="img/av3.png" alt="Profile picture"> <a href="#" class="btn-link text-semibold">Bobby Marz</a> followed you. </div>
                            </div>
                            <div class="timeline-entry">
                                <div class="timeline-stat">
                                    <div class="timeline-icon"><img src="img/av4.png" alt="Profile picture"></div>
                                </div>
                                <div class="timeline-label">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--===================================================-->
                    <!-- End Striped Table -->
                </div>
            </div>
        </div>
		<!--===================================================-->
		<!--END CONTENT CONTAINER-->
	</div>
</div>
<!--===================================================-->
<!-- END OF CONTAINER -->
