@model TeknikServisci.Models.ViewModels.SurveyViewMdel

@{
	ViewBag.Title = "Değerlendirme Anketi";
	Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h3 style="color:red">@TempData["Message2"]</h3>

@using (Html.BeginForm("Survey", "Failure", FormMethod.Post, new { @class = "form-horizontal" }))
{

	@Html.HiddenFor(x => x.SurveyId)
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<hr />

		<div class="form-group">
			@Html.LabelFor(model => model.Satisfaction, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Satisfaction, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Satisfaction, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.TechPoint, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.TechPoint, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.TechPoint, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Speed, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Speed, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Speed, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Pricing, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Pricing, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Pricing, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Solving, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Solving, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Solving, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Suggestions, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Suggestions, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Suggestions, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Gönder" class="btn btn-default" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Ana Sayfaya Dönün", "Index")
</div>
